body {
    background-color: #f8e8cf;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
}


/*! formato de texto 1 TheFarmerTextured*/

@font-face {
    font-family: 'TheFarmerTextured';
    src: url('../../../assets/fonts/TheFarmerTextured.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'TheFarmerTextured', serif;
    font-size: 3.5rem
}



.selectable-list {
    font-family: 'TheFarmerTextured', serif;
    font-size: 1.5rem
    
    
}

.category-name {
    font-family: 'TheFarmerTextured', serif;
}
/*borde de coleccion activa*/
.category.active {
  outline: 2px solid #A0191E;
  border-radius: 5%;
}
/*para filtro de barra lateral*/ 
.selectable-list a.active {
  font-weight: bold;
  text-decoration: underline;
}

