*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: #683531;
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links h4 {
  font-size: 20px;
  color: #f8e8cf;
  margin-bottom: 25px;
  font-weight: 600px;
  display: inline-block;
  padding-bottom: 10px;
  display: inline-block;
  padding: 20px;
  line-height: 2;

}

.footer-links ul li a{
  font-size: 15px;
  text-decoration: none;
  color: beige;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  padding: 20px;

}

.social-link{

  color: beige;
  padding: 20px;

  

}

.fab fa-facebook-f{

  color: aqua;
}

.imagenFooter{

  background-image: url(../images/Pattern.png);
  height: 55px;

}
